@{
    ViewBag.Title = "美體";
}
@section styles{
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2017.2.621/kendo.bootstrap.min.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/tsaijing.js")"></script>
}
@section scripts{
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.621/cultures/kendo.culture.zh-TW.min.js")"></script>
    <script>
        $(document).ready(function () {
            var url = '/api/Bodies';
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: url,
                        dataType: 'json',
                        type: 'GET'
                    },
                    update: {
                        url: function (data) {
                            return url + '?key=' + data.CustomerId;
                        },
                        dataType: 'json',
                        type: 'PUT'
                    }
                },
                serverAggregates: true,
                serverFiltering: true,
                serverGrouping: true,
                serverPaging: true,
                serverSorting: true,
                batch: false,
                pageSize: 20,
                error: defaultError,
                schema: {
                    data: 'DataCollection',
                    total: 'TotalRowCount',
                    model: {
                        id: 'CustomerId',
                        fields: {
                            CustomerId: { type: 'number', editable: false },
                            CustomerName: { editable: false },
                            HealthSpine: { type: 'boolean', defaultValue: false },
                            HealthBackPain: { type: 'boolean', defaultValue: false },
                            HealthOther: { defaultValue: null },
                            CurveChest: { type: 'boolean', defaultValue: false },
                            CurveArm: { type: 'boolean', defaultValue: false },
                            CurveButtock: { type: 'boolean', defaultValue: false },
                            CurveStomachWaistAbdomen: { type: 'boolean', defaultValue: false },
                            CurveThigh: { type: 'boolean', defaultValue: false },
                            CurveCalf: { type: 'boolean', defaultValue: false },
                            CurveFatSoft: { type: 'boolean', defaultValue: false },
                            CurveFatHard: { type: 'boolean', defaultValue: false },
                            CurveFatOrange: { type: 'boolean', defaultValue: false },
                            CurveFatTangled: { type: 'boolean', defaultValue: false },
                            CurveFatOther: { defaultValue: null },
                            Diagnosis: { defaultValue: null }
                        }
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: { refresh: true },
                height: 550,
                editable: { mode: 'popup' },
                columns: [
                    {
                        command: [
                            { name: 'edit', text: { edit: '修改', cancel: '取消', update: '確定' } }
                        ], title: "&nbsp;", width: "300px"
                    },
                    { field: 'CustomerName', title: '姓名' },
                    { field: 'HealthSpine', title: '健康：脊椎' },
                    { field: 'HealthBackPain', title: '健康：腰酸背痛', hidden: true },
                    { field: 'HealthOther', title: '健康：其他', hidden: true },
                    { field: 'CurveChest', title: '曲線：胸部(豐、減、維持)' },
                    { field: 'CurveArm', title: '曲線：手臂', hidden: true },
                    { field: 'CurveButtock', title: '曲線：臀部', hidden: true },
                    { field: 'CurveStomachWaistAbdomen', title: '曲線：胃、腰、腹部' },
                    { field: 'CurveThigh', title: '曲線：大腿', hidden: true },
                    { field: 'CurveCalf', title: '曲線：小腿', hidden: true },
                    { field: 'CurveFatSoft', title: '曲線：脂肪狀況－軟' },
                    { field: 'CurveFatHard', title: '曲線：脂肪狀況－硬', hidden: true },
                    { field: 'CurveFatOrange', title: '曲線：脂肪狀況－橘皮', hidden: true },
                    { field: 'CurveFatTangled', title: '曲線：脂肪狀況－糾結', hidden: true },
                    { field: 'CurveFatOther', title: '曲線：脂肪狀況－其他', hidden: true },
                    { field: 'Diagnosis', title: '技導診斷', hidden: true }
                ]
            });
        });
    </script>
}
<div id="grid"></div>

